<%- include('../includes/auth/head.ejs') %>
<div class="wrapper">
  <h1>Enter new password</h1>
  <form action="/new-password" method="POST">
    <div>
      <label
        class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
        for="password"
      >
        <%- include('../icons/lock.svg') %>
      </label>
      <input
        class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
        type="password"
        id="password"
        name="password"
        placeholder="New password"
        value="<%= oldInput.password %>"
        required
      />
    </div>
    <%- include('../includes/auth/error-message.ejs') %>
    <input type="hidden" name="userId" value="<%= userId %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <button type="submit">Send reset link</button>
  </form>

  <div class="links">
    <div>
      <a href="/login" id="login-link" class="link">Log in</a>
    </div>
    <div>&vert;</div>
    <div>
      <a href="/signup" id="signup-link" class="link">Sign up</a>
    </div>
  </div>
</div>
<%- include('../includes/auth/end.ejs') %>
