  <%- include('../includes/general/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    <section class="mt-5" style="background-color: white;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3"><%= user.name %></h5>
                <!-- <p class="text-muted mb-1">Full Stack Developer</p> -->
                <p class="text-primary mb-4"><%= user.membershipType %> Account</p>
                <% if (user.membershipType === 'Free') { %>
                <hr>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle btn-lg btn-block" type="button" data-toggle="dropdown" aria-expanded="false">
                    Upgrade your account
                  </button>
                  <div class="dropdown-menu btn-block">
                    <form class="text-center" id="membership-form" method="POST" action="/payment">
                      <button type="submit" style="border: none" class="dropdown-item">Via Momo</button>
                    </form>
                    <a class="dropdown-item text-center" href="/user/gift-code">Via Giftcode</a>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.name %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.email %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Plan</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.membershipType %></p>
                  </div>
                </div>
                <hr>
                <% if (user.membershipType === 'Premium') { %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Plan Expiration</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= validUntil %></p>
                  </div>
                </div>
                <hr>
                <% } %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.role %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <form action="/user/edit-profile" method="GET">
                      <button type="submit" class="btn btn-outline-primary">Edit Account</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <% if (prods.length > 0) { %>
                <% for (let product of prods) { %>
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <img class="img-fluid" src="/<%= product.originalImageUrl %>" class="card-img-top" style="height: 150px; object-fit: cover">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.dateAndName.name %></h5>
                      <p class="card-text"><%= product.dateAndName.date %></p>
                      <a href="/user/album/<%= product._id %>" class="btn btn-primary">See detail</a>
                    </div>
                  </div>
                </div>
                <% } %>
              <% } else { %>
                <!-- Put something here -->
                <div class="col-md-12">
                  <div class="alert alert-info" role="alert">
                    It's so empty here. Create something!
                  </div>
                </div>
              <% } %>
            </div>
            <a id="nav-link" href="/user/album" class="d-flex flex-row-reverse mt-2" style="text-decoration: none">
              <span id="arrow">&#8594;</span>
              <span class="mr-2">Browse album</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>