<%- include('../includes/general/head.ejs') %>
    <link rel="stylesheet" href="/css/general.css" />
  </head>
  <body>
    <!-- <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>PIC2MODEL</h1>
      <p>Get 3D models of your favorite flat images become easy!</p>
    </div> -->

    <%- include('../includes/general/navbar.ejs') %>

    <div class="container" style="margin-top: 5rem">
      <div class="row">
        <!-- <div class="col-sm-4">
          <h2>About Us</h2>
          <h5>Photo of me:</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          <h3>Some Links</h3>
          <p>Lorem ipsum dolor sit ame.</p>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <hr class="d-sm-none" />
        </div> -->
        <div class="col-sm-8 mx-auto">
          <h2>WANT TO GET 3D OBJECTS?</h2>
          <h5>
            <i
              >Transform your flat images into interactive 3D objects, Sep 2,
              2024</i
            >
          </h5>
          <div class="fakeimg">
            <img
              src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_2x1.jpg"
            />
          </div>
          <p>
            Imagine taking your favorite photos, designs, or product images and
            converting them into lifelike 3D models with just a few clicks.
            Whether you're a designer, architect, or just curious, our
            cutting-edge technology makes it simple and fast. Visualize,
            interact, and bring your ideas to life like never before. Upload
            your images today and watch them evolve into dynamic 3D models right
            before your eyes!
          </p>
          <p><a href="#">Learn more &#8595;</a></p>
          <br />
          <h2>FROM FUN TO PROFESSIONAL: A 3D SUCCESS STORY</h2>
          <h5>
            <i
              >How casual users have evolved into skilled professionals with the
              power of 3D modeling, Mar 4, 2024</i
            >
          </h5>
          <div class="fakeimg">
            <img
              src="https://hearingsense.com.au/wp-content/uploads/2022/01/8-Fun-Facts-About-Your-Dog-s-Ears.webp"
            />
          </div>
          <p>
            What started as just a fun way to play around with turning 2D images
            into 3D models has transformed countless users into professionals.
            At first, many come to the platform out of curiosity, testing it out
            with personal photos or simple designs. But the ease and power of
            the tools quickly capture attention, allowing users to dive deeper
            into the world of 3D modeling.
          </p>
          <p><a href="#">Learn more &#8595;</a></p>
        </div>
      </div>
    </div>

    <% if (successMessage) { %>
    <script>
      Swal.fire({
        title: "Logged in!",
        text: "<%= successMessage %>",
        icon: "success"
      });
    </script>
    <% } %>
    <% if (indexError) { %>
    <script>
      Swal.fire({
        title: "Error!",
        text: "<%= indexError %>",
        icon: "error"
      });
    </script>
    <% } %>

    <%- include('../includes/general/footer.ejs') %>
  </body>
</html>
