<%- include('../includes/general/head.ejs') %>
</head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    
    <section class="container mt-5 py-5 d-flex align-items-center justify-content-center">
      <div class="card position-relative" style="width: 24rem;">

        <a href="/admin/edit-profile" class="position-absolute" style="top:5px;left:5px;background:none;border:none">
          <%- include('../icons/arrow_left.svg') %>
        </a>
        
        <form id="passwordForm" class="pt-5 p-3" action="/admin/edit-profile/password" method="POST">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control
            <%= validationErrors.find(e => e.path === 'password') ? 'is-invalid' : '' %>" name="password" id="password" placeholder="Enter current password" required value="<%= oldInput.password %>">
          </div>
          <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" class="form-control
            <%= validationErrors.find(e => e.path === 'newPassword') ? 'is-invalid' : '' %>" name="newPassword" id="newPassword" placeholder="Enter new password" required value="<%= oldInput.newPassword %>">
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirm new password</label>
            <input type="password" class="form-control
            <%= validationErrors.find(e => e.path === 'confirmNewPassword') ? 'is-invalid' : '' %>" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm new password" required value="<%= oldInput.confirmNewPassword %>">
          </div>
          <small id="passwordHelp" class="form-text text-muted mb-3"><%= errorMessage ? errorMessage : '' %></small>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
    </section>
    
    <script src="/scripts/user/edit-password.js"></script>
  </body>
</html>
