<%- include('../includes/general/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>

    <section class="container mt-5 py-5 d-flex align-items-center justify-content-center flex-column">
      <div class="card position-relative" style="width: 18rem;">
        <a href="/admin/profile" class="position-absolute" style="top:5px;left:5px;background:none;border:none">
          <%- include('../icons/arrow_left.svg') %>
        </a>
        <div class="card-header">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= username %></h5>
            <p class="text-muted">Full Access</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <a href="/admin/edit-profile/name" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">Name<span><%- include('../icons/arrow_right.svg') %></span></a>
          <a href="/admin/edit-profile/password" class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">Password<span><%- include('../icons/arrow_right.svg') %></span></a>
        </ul>
      </div>
    </section>
    <% if (successMessage) { %>
      <script>
        Swal.fire({
          title: "Success!",
          text: "<%= successMessage %>",
          icon: "success"
        });
      </script>
    <% } %>
  </body>
</html>
