  <%- include('../includes/general/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    <section class="mt-5" style="background-color: white;">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3"><%= user.name %></h5>
                <!-- <p class="text-muted mb-1">Full Stack Developer</p> -->
                <p class="text-muted mb-4">Full Access</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.name %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.email %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Access</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">Full Access</p>
                  </div>
                </div>
                <hr>
                <% if (user.membershipType === 'Premium') { %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Expiration Date</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= validUntil %></p>
                  </div>
                </div>
                <hr>
                <% } %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= user.role %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <form action="/admin/edit-profile" method="GET">
                      <button type="submit" class="btn btn-outline-primary">Edit Account</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>