<%- include('../includes/general/head.ejs') %>
    <style>
      @media only screen and (max-width: 991px) {
        /* For mobile phones: */
        .btn.btn-info.btn-lg.btn-block {
          margin-bottom: 1rem;
        }
        section {
          margin-bottom: 2rem;
        }
      }
    </style>
  </head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    <section style="background-color: white; margin-top: 4rem;">
      <div class="container w-100" >
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3"><%= user.name %></h5>
                <!-- <p class="text-muted mb-1">Full Stack Developer</p> -->
                <h6 class="text-primary"><%= user.membershipType %> Account</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">User Since</p>
                  </div>
                  <div class="col-sm-9 text-right">
                    <p class="text-muted mb-0"><%= createdAt %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9 text-right">
                    <p class="text-muted mb-0"><%= user.email %></p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Status</p>
                  </div>
                  <div class="col-sm-9 text-right">
                    <p class="mb-0 text-<%= user.status === 'active' ? 'success' : 'danger' %>"><%= user.status %></p>
                  </div>
                </div>
                <hr>
                <% if (user.membershipType === 'Premium') { %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Plan Expiration</p>
                  </div>
                  <div class="col-sm-9 text-right">
                    <p class="text-muted mb-0"><%= expiredDate %></p>
                  </div>
                </div>
                <hr>
                <% } %>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Monthly Activities</p>
                  </div>
                  <div class="col-sm-9 text-right">
                    <p class="text-muted mb-0"><%= monthlyCount %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-4">
            <a href="/admin/users/<%= user._id %>/activities?username=<%= user.name %>" class="btn btn-info btn-lg btn-block">SEE MORE</a>
          </div>
          <div class="col-lg-4">
            <button id="button-<%= user.status === 'active' ? 'disable' : 'restore' %>" class="btn btn-<%= user.status === 'active' ? 'danger' : 'success' %> btn-lg btn-block" data-user-id="<%= user._id %>"><%= user.status === 'active' ? 'DISABLE' : 'RESTORE' %></button>
          </div>
        </div>
      </div>
    </section>
    <script src="/scripts/admin/manage-users.js"></script>
  </body>
</html>