<%- include('../includes/general/head.ejs') %>
</head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    
    <section class="container mt-5 py-5 d-flex align-items-center justify-content-center">
      <div class="card position-relative" style="width: 24rem;">

        <a href="/user/edit-profile" class="position-absolute" style="top:5px;left:5px;background:none;border:none">
          <%- include('../icons/arrow_left.svg') %>
        </a>
        
        <form class="pt-5 p-3" action="/user/edit-profile/email" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="hidden" id="originalEmail" value="<%= originalEmail %>">
            <input type="email" class="form-control
            <%= validationErrors.find(e => e.path === 'email') ? 'is-invalid' : '' %>" id="email" name="email" aria-describedby="emailHelp" value="<%= usermail %>" placeholder="Enter new email">
            <small id="emailHelp" class="form-text text-muted"><%= errorMessage ? errorMessage : '' %></small>
          </div>
          <button type="submit" disabled class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
      </div>
    </section>
    
    <script src="/scripts/user/edit-mail.js"></script>
  </body>
</html>
