  <%- include('../includes/general/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/general/navbar.ejs') %>
    <section style="background-color: white; margin-top: 6rem">
      <div class="container my-4">
      <% if (prods && prods.length > 0) { %>
        <% for (let i = 0; i < prods.length; i++) { %>
          <% if (i % 3 === 0) { %>
          <div class="row mb-4 mt-0">
            <% } %>
            <div class="col-sm-4">
              <div class="card">
                <div class="position-relative">
                  <img
                    src="/<%= prods[i].originalImageUrl %>"
                    class="card-img-top img-fluid"
                    style="height: 150px; object-fit: cover"
                  />
                  <a
                    href="#!"
                    class="position-absolute w-100 h-100"
                    style="
                      top: 0;
                      left: 0;
                      background-color: rgba(251, 251, 251, 0.15);
                    "
                  ></a>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= prods[i].dateAndName.name %></h5>
                  <p class="card-text">
                    Created by <strong class="text-primary"><%= username %></strong> on <span class="text-primary"><%= prods[i].dateAndName.date %></span> 
                  </p>
                  <% if (!viewAsAdmin) { %>
                  <div class="card-buttons d-flex flex-wrap" style="gap: 0.8rem">
                    <a type="button" href="/user/album/<%= prods[i]._id %>" class="btn btn-outline-primary flex-fill" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      See Detail
                    </a>
                    <button type="button" data-product-id="<%= prods[i]._id %>" class="delete-button btn btn-outline-danger flex-fill" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      Delete Product
                    </button>
                  </div>
                  <% } else { %>
                  <a type="button" href="/admin/user-product/<%= prods[i]._id %>?username=<%= username %>" class="btn btn-outline-primary">
                    See Detail
                  </a>
                  <% } %>
                </div>
              </div>
            </div>
          <% if ((i % 3 === 2) || (i === prods.length - 1)) { %>
          </div>
          <% } %>
        <% } %>
      </div>
      <%- include('../includes/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage}) %>
      <% } else { %>
        <div class="d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 8rem);">
          <% if (!viewAsAdmin) { %>
          <h1 class="text-muted">How empty! Create something.</h1>
          <a href="/user/generate" class="btn btn-primary mt-3">Go to Generate</a>
          <% } else { %>
          <h1><%= username %>'s album has no content.</h1>
          <h3 class="text-muted">The user might have deleted them or they haven't generated anything.</h3>
          <% } %>
        </div>
      <% } %>
    </section>
  </body>
  <script src="/scripts/user/delete-product.js"></script>
</html>