<%- include('../includes/auth/head.ejs') %>
<div class="wrapper">
  <h1>Reset your password</h1>
  <form action="/reset" method="POST">
    <div>
      <label
        class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
        for="email"
      >
        <%- include('../icons/mail.svg') %>
      </label>
      <input
        class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
        type="email"
        id="email"
        name="email"
        placeholder="Enter email to get reset link"
        value="<%= oldInput.email %>"
        required
      />
    </div>
    <%- include('../includes/auth/error-message.ejs') %>
    <button type="submit">Send reset link</button>
  </form>

  <div class="links">
    <div>
      <a href="/login" id="login-link" class="link">Log in</a>
    </div>
    <div>&vert;</div>
    <div>
      <a href="/signup" id="signup-link" class="link">Sign up</a>
    </div>
  </div>
</div>
<%- include('../includes/auth/end.ejs') %>
